*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow-x: hidden;
}
h1{
    text-align: center;
    padding: 30px;
}
.container{
    border: 2px solid blue;
    display: inline-block;
    margin-left: 30px;
    /* display: flex; */
    padding: 30px;
    /* width: 400px; */
    border-radius: 50px;
}
#search, .btn{
    padding: 8px 15px;
    /* margin-left: 20px; */
}
.btn{
    cursor: pointer;
    background-color: blue;
    color:#fff;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    
}
.btn:hover{
    background-color: #333;
}
#result{
    padding-top: 30px;
    height: 500px;
    padding-left: 30px;
}
.styledata{
    background-color: blue;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-bottom: 20px;
    color:#fff;
    padding: 50px;
    max-height: 550px;
    gap:20px;
 
}